<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Bespoke Tailors</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/signin/icons/favicon.ico') }}"/>

    <!-- Chatbot -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,300&display=swap" rel="stylesheet">
    <!-- CSS here -->
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/owl.carousel.min.css') }}">   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/slicknav.css') }}">    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/progressbar_barfiller.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/gijgo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/animated-headline.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/nice-select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/chat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/typing.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/signin/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/signin/iconic/css/material-design-iconic-font.min.css') }}">
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    
                    <img src="/static/images/index/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div> 
    <!-- Preloader Start-->
    <header>
        <!-- Header Start -->
        <div class="header-area header_area">
            <div class="main-header">
             <div class="header-bottom header-sticky">
                <!-- Logo -->
                <div class="logo">
                    <a> <img src="/static/images/index/logo/logo.png" alt=""></a>
                </div>
                <div class="header-left  d-flex f-right align-items-center">
                    <!-- Main-menu -->
                    <div class="main-menu f-right d-none d-lg-block">
                        <nav> 
                            <ul id="navigation">                                                                                                                                     
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                {% if session['user_id'] %}
                                    <li><a href="orders.html">Orders</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <!-- left Btn -->
                    <div class="header-right-btn f-right d-none d-lg-block  ml-30">
                        {% if session['user_id'] %}
                        <a href="{{ url_for('logout') }}" class="header-btn">
                            Welcome, {{session['name']}}
                            <br>
                            Logout</a>
                        {% else %}
                        <a href="{{ url_for('login_form') }}" class="header-btn"> Login</a>
                        {% endif %}
                    </div>
                </div>          
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<main>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
        var messages = {{ messages | safe }};
        for (var i=0; i<messages.length; i++) {
            alert(messages[i]);
        }
        </script>
    {% endif %}
    {% endwith %}
    <!--? slider Area Start-->
    <div class="slider-area  position-relative ">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider position-relative hero-overly slider-height  d-flex align-items-center" data-background="/static/images/index/hero/h1_hero.png">
                <div class="container">
                 <div class="row">
                     <div class="col-xl-6 col-lg-6">
                        <div class="hero-caption">
                            <img class="rotateme" src="/static/images/index/hero/hero-icon.png" alt="" data-animation="zoomIn" data-delay="1s">
                            <h1 data-animation="fadeInLeft" data-delay=".4s">We make cloths  that suit you</h1>
                            <p data-animation="fadeInLeft" data-delay=".6s">It’s time to leave unflattering off-the-rack sizes behind and join a customized future. 
                                It’s time you to start wearing clothes made only for you.</p>
                            <!-- Hero Btn -->
                            <a href="#" class="btn"  data-animation="fadeInLeft" data-delay=".8s" >Our Services</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Left img -->
            <div class="hero-img">
                <img src="/static/images/index/hero/h1_hero.png" alt=""  data-animation="fadeInRight" data-transition-duration="5s">
            </div>
        </div>
        <!-- Single Slider -->
        <div class="single-slider position-relative hero-overly slider-height  d-flex align-items-center" data-background="/static/images/index/hero/h1_hero.png">
            <div class="container">
             <div class="row">
                 <div class="col-xl-6">
                    <div class="hero-caption">
                        <img class="rotateme" src="/static/images/index/hero/hero-icon.png" alt="" data-animation="zoomIn" data-delay="1s">
                        <h1 data-animation="fadeInLeft" data-delay=".4s">We make cloths  that suit you</h1>
                        <p data-animation="fadeInLeft" data-delay=".6s">It’s time to leave unflattering off-the-rack sizes behind and join a customized future. 
                            It’s time you to start wearing clothes made only for you.</p>
                        <!-- Hero Btn -->
                        <a href="#" class="btn"  data-animation="fadeInLeft" data-delay=".8s" >Our Services</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Left img -->
        <div class="hero-img">
            <img src="/static/images/index/hero/h1_hero1.png" alt=""  data-animation="fadeInRight" data-transition-duration="5s">
        </div>
    </div>
</div>
</div>
<!-- slider Area End-->

<!--? Clients Offers Start -->
<div class="clients-area section-padding40">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".2s" >
                    <div class="offers-img">
                        <img src="/static/images/index/gallery/offers1.png" alt="">
                    </div>
                    <div class="offers-cap">
                        <span>1</span>
                        <h3><a href="services.html">You’re in good company</a></h3>
                        <p>We take care our customers, and they seem to love us right back. Find out what they’ve got to say about us.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".4s">
                    <div class="offers-img">
                        <img src="/static/images/index/gallery/offers2.png" alt="">
                    </div>
                    <div class="offers-cap">
                        <span>2</span>
                        <h3><a href="services.html">Measurement</a></h3>
                        <p>IT’S ALL ABOUT THE
                            MEASUREMENTS.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".6s">
                    <div class="offers-img">
                        <img src=/static/images/index/gallery/offers3.png alt="">
                    </div>
                    <div class="offers-cap">
                        <span>3</span>
                        <h3><a href="services.html">Ready-made</a></h3>
                        <p>In a professional context it often happens that private or corporate clients corder a publication to be made and presented.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Clients Offers End -->
<!--Chatbot-->
<div class="container">
    <div class="chatbox" id="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="/static/images/index/chat/images/image.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat support</h4>
                    <p class="chatbox__description--header">We are here to help you!</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div>
                    
                    <div class="messages__item messages__item--visitor">
                        {% if session['user_id'] %}
                            Welcome,<strong> {{session['name']}} <strong>  ! How can I support you?                            
                        {% else %}
                            Welcome ! How can I support you? 
                        {% endif %}
                    </div>
                    <!-- <div class="messages__item messages__item--operator">
                        Sure!
                    </div>
                    <div class="messages__item messages__item--visitor">
                        Need your help, I need a developer in my site.
                    </div>
                    <div class="messages__item messages__item--operator">
                        Hi... What is it? I'm a front-end developer, yay!
                    </div> 
                    <div class="messages__item messages__item--typing">
                        <span class="messages__dot"></span>
                        <span class="messages__dot"></span>
                        <span class="messages__dot"></span>
                    </div> -->
                </div>
            </div>
            <div class="chatbox__footer">
                <img src="/static/images/index/chat/images/icons/emojis.svg" alt="">
                <img src="/static/images/index/chat/images/icons/microphone.svg" alt="">
                <input id="data" type="text" placeholder="Write a message...">
                <input type="image" id="send-btn" src="/static/images/index/chat/images/icons/send.svg" alt="">
            </div>
        </div>
        <div class="chatbox__button">
            <button>button</button>
        </div>
    </div>
</div>

<script>

    $(document).ready(function(){
        i = false
        gender = false
        dressTypeCondition = false
        genderType = 0
        dressType = 0

        $("#send-btn").on("click",function(){

            $value = $("#data").val();
            if ($value!=null){

            // alert($value);
            var oldscrollHeight = $("#chatbox")[0].scrollHeight - 20; //Scroll height before the request
            
            $msg = '<div class="messages__item messages__item--operator">'+ $value +'</div>';
                $(".chatbox__messages").append($msg);
                $(".chatbox__messages").scrollTop($(".chatbox__messages")[0].scrollHeight);

                //Auto-scroll           
                var newscrollHeight = $("#chatbox")[0].scrollHeight - 20; //Scroll height after the request

                if(newscrollHeight > oldscrollHeight){
                     $("#chatbox").animate({ scrollTop: newscrollHeight }, 'normal'); //Autoscroll to bottom of div
                } 

                $("#data").val('');

                if(i){
                    genderType = $value
                    $value = "#"+$value;
                    i=false
                }
                if(gender){
                    genderType = $value
                    $value = "%"+$value;
                    
                    gender=false
                }
                if(dressTypeCondition){
                        if(genderType == 1){
                            $value = "*"+$value;
                            dressType == $value
                        }
                        else {
                            $value = "^"+$value;
                            dressType == $value
                        }
                }
                
                 // start ajax code
                 $.ajax({
                    url: 'http://127.0.0.1:5000/chatbot',
                    type: 'POST',
                    data: 'text='+$value,
                    success: function(result){ 
                        result2 = result.toString()                       
                        if(result == "Please enter your email"){
                            
                        } 
                        if(result == "Enter your name"){
                            i=true
                        } 
                        if(result2.includes('What gender of clothing do you favor?')){
                            gender=true
                        }  
                        if(result == "To continue with your order please continue with following link "){
                            

                        }if(result.includes("The following types of cloth stitching services are available in your preferred category")){
                            
                            dressTypeCondition = true
                            
                        }
                        function linkify(text) {
                            var urlRegex =/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
                            return text.replace(urlRegex, function(url) {
                                return '<a href="' + url + '">' + url + '</a>';
                            });
                        }
                        if(result.includes("https")){
                            if(linkify(result)){
                            $replay = '<div class="messages__item messages__item--visitor">'+ result +'</div>';
                            $(".chatbox__messages").append($replay);
                            // when chat goes down the scroll bar automatically comes to the bottom
                            $(".chatbox__messages").scrollTop($(".chatbox__messages")[0].scrollHeight);
                        }
                        }
                        $replay = '<div class="messages__item messages__item--visitor">'+ result +'</div>';
                        $(".chatbox__messages").append($replay);
                        // when chat goes down the scroll bar automatically comes to the bottom
                        $(".chatbox__messages").scrollTop($(".chatbox__messages")[0].scrollHeight);
                    }
                });                
            }
            });
        });

</script>

<!--? Visit Our Tailor Start -->
<section class="visit-tailor-area fix">
    <!--Right Contents  -->
    <div class="tailor-offers"></div>
    <!-- left Contents -->
    <div class="tailor-details">
        <h2>About our<br>tailor house</h2>
        <p class="pera-top">A little about us.</p>
        <p class="pera-bottom">Custom made clothing is a great long term investment. With the quality materials used, superior clothing awaits the professionals to express their personality. Our team, over 60 tailors keeps that promise to capture timeless, tangible beauty through tailoring. We are offering bespoke suits, sports blazers, dress shirts and trousers plus alteration services. Aims to deliver the best services to its customers.</p>
        <a href="#" class="btn">More About Us</a>
    </div>
</section>
<!-- Visit Our Tailor End -->
<!--? Services Area Start -->
<section class="categories-area section-padding40">
    <div class="container">
        <!-- section Tittle -->
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-7 col-sm-9">
                <div class="section-tittle text-center mb-60">
                    <h2>Why use our service?</h2>
                    <p>Our experienced and knowledgeable master tailors are meticulous in their workmanship and quality control. Hercules Tailors has grown to become one of the most established tailors in Sri Lanka and has built a reputation in the tailoring industry and currently our flagship stores are conveniently located at Colombo 5, Wellawatta and Horana.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="cat-icon">
                        <img src="/static/images/index/icon/services1.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Tailor Sweing</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="cat-icon">
                        <img src="/static/images/index/icon/services2.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Tailor Sweing</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="cat-icon">
                        <img src="/static/images/index/icon/services3.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Tailor Sweing</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                    <div class="cat-icon">
                        <img src="/static/images/index/icon/services4.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Tailor Sweing</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--? Services Area End -->
<!--? video_start -->
<div class="video-area section-bg2 d-flex align-items-center"  data-background="static/images/index/gallery/video-bg.png">
    <div class="container">
        <div class="video-wrap position-relative">
            <!-- Video icon -->
            <div class="video-icon" >
                <a class="popup-video btn-icon" href="https://www.youtube.com/watch?v=up68UAfH0d0"><i class="fas fa-play"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- video_end -->
<!--? Testimonial Area Start -->
<section class="testimonial-area testimonial-padding fix">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class=" col-lg-9">
                <div class="about-caption pb-bottom">
                    <!-- Testimonial Start -->
                    <div class="h1-testimonial-active dot-style">
                        <!-- Single Testimonial -->
                        <div class="single-testimonial position-relative">
                            <div class="testimonial-caption">
                                <img src="/static/images/index/icon/quotes-sign.png" alt="" class="quotes-sign">
                                <p>Our experienced and knowledgeable master tailors are meticulous in their workmanship and quality control. Hercules Tailors has grown to become one of the most established tailors in Sri Lanka and has built a reputation in the tailoring industry and currently our flagship stores are conveniently located at Colombo 5, Wellawatta and Horana.</p>
                            </div>
                            <!-- founder -->
                            <div class="testimonial-founder d-flex align-items-center">
                                <div class="founder-img">
                                    <img src="/static/images/index/icon/testimonial.png" alt="">
                                </div>
                                <div class="founder-text">
                                    <span>Asitha Thomas</span>
                                    <p>Creative designer at Bespoke Tailor</p>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Single Testimonial -->
                        <div class="single-testimonial position-relative">
                            <div class="testimonial-caption">
                                <img src="/static/images/index/icon/quotes-sign.png" alt="" class="quotes-sign">
                                <p>Brook presents your services with flexible, convenient and cdpose layouts. You can select your favorite layouts & elements for cular ts with unlimited ustomization possibilities. Pixel-perfect replica;ition of thei designers ijtls intended csents your se.</p>
                            </div>
                            <!-- founder -->
                            <div class="testimonial-founder d-flex align-items-center">
                                <div class="founder-img">
                                    <img src="/static/images/index/icon/testimonial.png" alt="">
                                </div>
                                <div class="founder-text">
                                    <span>Robart Brown</span>
                                    <p>Creative designer at Colorlib</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial End -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--? Testimonial Area End -->
<!--? instagram-social start -->
<section class="instagram-area fix pb-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                <div class="section-tittle text-center mb-80">
                    <h2>Follow us on Instagram</h2>
                    <p>Keep a track of memories along our journey.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-instagram mb-30">
                    <img src="/static/images/index/gallery/instra1.png" alt="">
                    <a href="#"><i class="ti-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-instagram">
                    <img src="/static/images/index/gallery/instra2.png" alt="">
                    <a href="#"><i class="ti-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- instagram-social End -->
</main>
<footer>
    <div class="footer-wrapper section-bg2 pl-100"  data-background="/static/images/index/gallery/footer-bg.png">
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo mb-35">
                                    <a href="index.html"><img src="/static/images/index/logo/logo2_footer.png" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Let your story to be written in our stitches.</p>
                                    </div>
                                    <ul class="mb-40">
                                        <li class="number"><a href="#">(94) 773 367-3904</a></li>
                                        <li class="number2"><a href="#">(94) 773 367-3904</a></li>
                                    </ul>
                                </div>
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Our solutions</h4>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-right">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This application is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="http://127.0.0.1:5000" target="_blank">Bespoke Tailors</a>
                                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Footer End-->
          
    </div>
</footer>


<!-- JS here -->
<script src="/static/js/index/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/static/js/index/vendor/jquery-1.12.4.min.js"></script>
<script src="/static/js/index/popper.min.js"></script>
<script src="/static/js/index/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/static/js/index/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/static/js/index/owl.carousel.min.js"></script>
<script src="/static/js/index/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="/static/js/index/wow.min.js"></script>
<script src="/static/js/index/animated.headline.js"></script>
<script src="/static/js/index/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="/static/js/index/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="/static/js/index/jquery.nice-select.min.js"></script>
<script src="/static/js/index/jquery.sticky.js"></script>
<!-- Progress -->
<script src="/static/js/index/jquery.barfiller.js"></script>

<!--Chat js-->
<script src="/static/js/index/chat.js"></script>
<script src="/static/js/index/app.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="/static/js/index/jquery.counterup.min.js"></script>
<script src="/static/js/index/waypoints.min.js"></script>
<script src="/static/js/index/jquery.countdown.min.js"></script>
<script src="/static/js/index/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="/static/js/index/contact.js"></script>
<script src="/static/js/index/jquery.form.js"></script>
<script src="/static/js/index/jquery.validate.min.js"></script>
<script src="/static/js/index/mail-script.js"></script>
<script src=/static/js/index/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="/static/js/index/plugins.js"></script>
<script src="/static/js/index/main.js"></script>

</body>
</html>